In [ ]:
print("hello world")

hello world

In [ ]:
print("ankita sagar")

ankita sagar

In [ ]:
print("Ankita")

Ankita

In [ ]:
#day2 the following code snippets shows memory management in python
a=100
print(id(a))

b=100
print(id(b))

c=100
print(id(c))

10754024
10754024
10754024

In [ ]:
a=500
print(id(a))

139767337430512

In [ ]:
b=a
print(id(b))

139767337430512

In [ ]:
a=10
b=20
c=30
print(a,b,c)

a,b,c = 10, 20 ,30 #variable assignment
print(a,b,c)

10 20 30
10 20 30

In [ ]:
a=10 #variable assignment
b=10
c=10
print(a,b,c)

a=b=c=10
print(a,b,c)

10 10 10
10 10 10

In [ ]:
import keyword
print(keyword.kwlist) #it lists all the keywords in python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=10 # keywords cannot be used as a variable name
print(False)

SyntaxError: cannot assign to False (<ipython-input-9-a9b307c5edad>, line 1)

In [ ]:
#multiline comment
""" dhjfkggggs
sfsdffffffff
fffffffffffffffff
yyyyyyyyyyyyyy """
print("Hi")

Hi

In [ ]:
#python string
a="ntt"
print(a)
b= 'data'
print (a,b)

ntt
ntt data

In [ ]:
#multiline string
st= """ ghgjgjfkd
fjgjhkkljj
hhjgkjhkh"""

print(st)

 ghgjgjfkd
fjgjhkkljj
hhjgkjhkh

In [ ]:
#Day3 - Type function
#creating a simple list

l=[1,2.2,3,[3,4,5],'ntt',3+4j]
print(l)
print(type(l))

[1, 2.2, 3, [3, 4, 5], 'ntt', (3+4j)]
<class 'list'>

In [ ]:
#type functin returns data type
a=10
print(type(a))

a=10.2
print(type(a))

a="ntt"
print(type(a))

a=3+4j
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [ ]:
#isinstance
a=10
b=10.2
c=3+4j
d='gtth'
print(isinstance(a,int))
print(isinstance(b,int))
print(isinstance(c,complex))
print(isinstance(d,str))

True
False
True
True

In [ ]:
# variable annotation

aa: int = '10.99999' #if we change the the variable from int to str ,still it allows
print(aa)

print(__annotations__['aa']) #but the annotation will remain int only
print(type(aa))

10.99999
<class 'int'>
<class 'str'>

In [ ]:
aaa: str = 3.4 #annotations doesn't force to use only the str type, we can change the type but annotation will remain str
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

3.4
<class 'float'>
<class 'str'>

In [ ]:
#tuple- tuple is immutable cannot be modified
d=(a,4.5,"hty",'poo',(9,"j","u",2,3,7.8,6+5j))

print(d)
print(type(d))

(10, 4.5, 'hty', 'poo', (9, 'j', 'u', 2, 3, 7.8, (6+5j)))
<class 'tuple'>

In [ ]:
#dictory
dj={a:10,b:3.4,c:[1,2.4,5.5,6,'h',4+6j]}
print(dj)
print(d[c])
dj.pop
print (dj)

{10: 10, 10.2: 3.4, (3+4j): [1, 2.4, 5.5, 6, 'h', (4+6j)]}
[1, 2.4, 5.5, 6, 'h', (4+6j)]
{10: 10, 10.2: 3.4, (3+4j): [1, 2.4, 5.5, 6, 'h', (4+6j)]}

In [ ]:
djk={a:10,b:3.4,c:[1,2.4,5.5,6,'h',4+6j]}
print(djk)
print(djk[c])
djk.pop
print (djk)
type(djk)

{10: 10, 10.2: 3.4, (3+4j): [1, 2.4, 5.5, 6, 'h', (4+6j)]}
[1, 2.4, 5.5, 6, 'h', (4+6j)]
{10: 10, 10.2: 3.4, (3+4j): [1, 2.4, 5.5, 6, 'h', (4+6j)]}

dict

In [ ]:
name="code yug"
print(name[0])
print(name[2])

c
d

In [ ]:
s="bangalore" #slicing using negative indexing
print(s[-9:7:1])
print(s[2:3])
print(s[0::3])
print(s[-6:-11:])

bangalo
n
bgo

In [ ]:
s="hello, world!"
print(s[-3:])
print(s[-5:2:-2])
print(s[::2][::-1])

ld!
o o
!lo olh

In [ ]:
s="python is fun"
print(s[-3:])
print(s[-5:2:-2])
print(s[::2])
print(s[::2][::-1])

fun
s o
pto sfn
nfs otp

In [ ]:
string="programming" #length function in string slicing
print(string[3:len(string)-4])

gram

In [ ]:
#simple if statement
if 10>5:
  print("true")
  print("end of if")
print("not inside if")
print("end of program")

true
end of if
not inside if
end of program

In [ ]:
#if else statement
if 10>11:
  print("true")
  print("end of if")
else:
  print("not inside if")
  print("end of program")

not inside if
end of program

In [ ]:
#input function
a=input("enter a value")
print(a)
print(type(a))

b=float(input("enter a value"))
print(b)
print(type(b))

enter a valuea
a
<class 'str'>
enter a value5.6
5.6
<class 'float'>

In [ ]:
#if else statement
a=int(input("enter a value"))
b=int(input("enter a value"))
if a>b:
  print("true")
  print("end of if")
else:
  print("not inside if")
  print("end of program")

enter a value3
enter a value4
not inside if
end of program

In [ ]:
#if else ladder
s=input("enter a color")
if s=="red":
  print("stop")
elif s=="yellow":
  print("ready")
elif s=="green":
  print("go")
else:
  print("invalid color")

enter a colorpink
invalid color

In [ ]:
#palindrome code
s=input("enter a string")
s=s.lower() #converts into lower case
print(s)
revs=s[::-1]
if s==revs:
  print("palindrome")
else:
  print("not palindrome")

enter a stringmalayalaM
malayalam
palindrome

In [ ]:
#while loop
i=10
while(i<15):
  print(i)
  i=i+1

print("end of while")

10
11
12
13
14
end of while

In [ ]:
#while multiplication table
a=int(input("enter a number"))
b=1
while b<=10:
  print(a,"*",b,"=",a*b)
  b=b+1

print("enf of table")

enter a number7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
enf of table

In [ ]:
#for loop
s="john" #string
for i in s:
  print(i)
  print(type(i))


for i in [10,20,30]: #tuple
  print(i)
  print(type(i))

for i in {110,'ntt',31.0}: #set
  print(i)
  print(type(i))

j
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>
10
<class 'int'>
20
<class 'int'>
30
<class 'int'>
ntt
<class 'str'>
110
<class 'int'>
31.0
<class 'float'>

In [2]:
#length of string
s=input("enter a string")
c=0
for i in s:
  c+=1
print("length =",c)

print(len(s)) #use len function

enter a stringntt data
length = 8
8

In [3]:
#membership operator
if 'a' in "apple":
  print("yes")
else:
  print("no")

yes

In [ ]:
#mini project
def create_student_database():
  # cretae empty dict
  database ={}
  return database

def add_student(database):
    #add a new student to databse
    usn = input("enter the USN no:")
    name = input("enter the name:")
    major = input("enter the student dept:")
    database[usn]={"name":name,"major":major} #key value pair added to dictionary
    print("student addedd succeessfully")

def find_student_info(database):
  #retrieves information of the student
  student_id=input("enter the usn no")
  student_info = database.get(student_id)
  if student_info:
    print(database.get(student_id)) #print student info
  else:
    print("enter correct student id")

def display_database(database):
#print contents of databse)
  if database:
    print("student databse")
    print (database)
  else:
    print("database is empty")


#main program loop

student_database=create_student_database()
while True:
  print("options")
  print("1. add student")
  print("2. Find student")
  print("3. Display database")
  print("4. Exit")

  choice = input("enter your choice")

  if choice == '1':
    add_student(student_database)

  elif choice == '2':
    find_student_info(student_database)

  elif choice == '3':
    display_database(student_database)

  elif choice == '4':
    break

  else:
    print("its an invalid input,try again")
    print("invalid choice")

options
1. add student
2. Find student
3. Display database
4. Exit
enter your choice3
database is empty
options
1. add student
2. Find student
3. Display database
4. Exit
enter your choice1
enter the USN no:100
enter the name:ram
enter the student dept:cse
student addedd succeessfully
options
1. add student
2. Find student
3. Display database
4. Exit
enter your choice2
enter the usn norani
enter correct student id
options
1. add student
2. Find student
3. Display database
4. Exit
enter your choice1
enter the USN no:101
enter the name:rani
enter the student dept:ece
student addedd succeessfully
options
1. add student
2. Find student
3. Display database
4. Exit
enter your choice3
student databse
{'100': {'name': 'ram', 'major': 'cse'}, '101': {'name': 'rani', 'major': 'ece'}}
options
1. add student
2. Find student
3. Display database
4. Exit
enter your choice4