In [ ]:
print("Hello World")

Hello World

In [ ]:
#simple function
def fun():
  print("hello world")
  print("welcome")

print("before function call")
fun()
print("after function call")
print(fun()) #first fun() will get called,but print will return None as fun() is not returning anything
c=fun()
print(c)

before function call
hello world
welcome
after function call
hello world
welcome
None
hello world
welcome
None

In [ ]:
#program to print the square of a no
#without argument,without return value

def square():
  x=int(input("enter a no"))
  y=x**2
  print("square of",x,"is",y)

square()

enter a no8
square of 8 is 64

In [ ]:
#with argument,with return value
def square(x):

  #y=x**2

  return x**2

x=int(input("enter a no"))
res=square(x)
print(res)

enter a no5
25

In [ ]:
#with argument,without return value
def square(x):

  y=x**2
  print("square of",x,"is",y)

x=int(input("enter a no"))
square(x)

enter a no7
square of 7 is 49

In [ ]:
#without argument,with return value
def square():
  x=int(input("enter a no"))
  y=x**2
  return y

res=square()
print(res)

enter a no78
6084

In [ ]:
#return statement
def test(a,b,c,d):
  return(a,b,c,d)

x,y,z,w=test(10,20,30,40)
print(x,y,z,w)

10 20 30 40

In [ ]:
def test1():
  l1=[10,20,30,40]
  t1=(60,70,80)
  return l1,t1

x,y=test1()
print(x,y)
print(type(x))

[10, 20, 30, 40] (60, 70, 80)
<class 'list'>

In [1]:
_=10
print(_)

10

In [3]:
#Day13
#function calling another function

def test1():
  print("I am inside test1")
  test2() #fn call
  print("back to test1")

def test2():
  print("I am in test2")
  print("going back")

test1() #fn call
print("end of program")

I am inside test1
I am in test2
going back
back to test1
end of program

In [7]:
#local variable

def test1():
  x=20
  x=x+1
  print(x)

test1()

test1()
test1()

21
21
21

In [9]:
#global variable

n=20
def fun():
  n=5 #loal varibale
  print(n)

fun()
print(n)

5
20

In [10]:
#global variable

n=20
def fun():
  n=n+1 #loal variable can't access
  print(n)

fun()
print(n)

UnboundLocalError: cannot access local variable 'n' where it is not associated with a value

In [14]:
#global variable

n=20
def fun():
  global n #global keyword
  print(n)

def test():
  global n
  n=n+1

fun()
test()
print(n)

20
21

In [ ]:
#function is also an object