In [ ]:
print("Hello World")

Hello World

In [ ]:
#simple function
def fun():
  print("hello world")
  print("welcome")

print("before function call")
fun()
print("after function call")
print(fun()) #first fun() will get called,but print will return None as fun() is not returning anything
c=fun()
print(c)

before function call
hello world
welcome
after function call
hello world
welcome
None
hello world
welcome
None

In [ ]:
#program to print the square of a no
#without argument,without return value

def square():
  x=int(input("enter a no"))
  y=x**2
  print("square of",x,"is",y)

square()

enter a no8
square of 8 is 64

In [ ]:
#with argument,with return value
def square(x):
  return x**2

x=int(input("enter a no"))
res=square(x)
print(res)

enter a no5
25

In [ ]:
#with argument,without return value
def square(x):

  y=x**2
  print("square of",x,"is",y)

x=int(input("enter a no"))
square(x)

enter a no7
square of 7 is 49

In [ ]:
#without argument,with return value
def square():
  x=int(input("enter a no"))
  y=x**2
  return y

res=square()
print(res)

enter a no78
6084

In [ ]:
#return statement
def test(a,b,c,d):
  return(a,b,c,d)

x,y,z,w=test(10,20,30,40)
print(x,y,z,w)

10 20 30 40

In [ ]:
def test1():
  l1=[10,20,30,40]
  t1=(60,70,80)
  return l1,t1

x,y=test1()
print(x,y)
print(type(x))

[10, 20, 30, 40] (60, 70, 80)
<class 'list'>

In [1]:
_=10
print(_)

10

In [3]:
#Day13
#function calling another function

def test1():
  print("I am inside test1")
  test2() #fn call
  print("back to test1")

def test2():
  print("I am in test2")
  print("going back")

test1() #fn call
print("end of program")

I am inside test1
I am in test2
going back
back to test1
end of program

In [7]:
#local variable lifetime

def test1():
  x=20
  x=x+1
  print(x)

test1() #memory is allocated again and again
test1()
test1()

21
21
21

In [1]:
#local variable scope

def test1():
  x=20
  x=x+1
  print(x)

test1() #memory is allocated again and again
#print(x) error as cant be accessed outside the fn
test1()
test1()

21

NameError: name 'x' is not defined

In [9]:
#global variable

n=20
def fun():
  n=5 #local varibale
  print(n) #inside fn priority given to local variable

fun()
print(n)

5
20

In [10]:
#global variable

n=20
def fun():
  n=n+1  #local variable can't be accessed as no value assigned inside fn
  print(n)

fun()
print(n)

UnboundLocalError: cannot access local variable 'n' where it is not associated with a value

In [2]:
#global variable

n=20
def fun():
  global n  #global keyword
  n=n+1
  print(n)

def test():
  global n  #global keyword to access global variable inside local fn
  n=n+1
  print(n)

fun()
test()
print(n)

21
22
22

In [4]:
#global variable

n=10
def fun():
  global n #global keyword
  n=n-1
  print(n)

fun()
print(n)

9
9

In [6]:
#function is also an object

def test():
  print("hello world")

i=10
print(type(i))

print(type(test))
print(test)

<class 'int'>
<class 'function'>
<function test at 0x7b05c2eecb80>

In [8]:
def multiplier_factory(factor):
  def multiplier(number):

   return number * factor
  #return the nested function
  return multiplier #returning the inner function

#create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

#create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

#use created functions
result1=multiply_by_5(9)
result2=multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 45
4 multiplied by 10 is: 40

In [10]:
#alias name for function

def test1():
 print("hello")

a = test1

a()

hello

In [13]:
#positional arguments or required arguments

def test(name,age,city):
  print("my name is",name,"and my age is",age,"and basically from ",city)

test("ram",25,"delhi")
test(25,"ram","delhi")
test(25,"ram","delhi","cochin") #throws error

my name is ram and my age is 25 and basically from  delhi
my name is 25 and my age is ram and basically from  delhi

TypeError: test() takes 3 positional arguments but 4 were given

In [14]:
#keyword arguments

def test(name,age,city):
  print("my name is",name,"and my age is",age,"and basically from ",city)


test(age= 25,name = "ram",city="delhi")

my name is ram and my age is 25 and basically from  delhi

In [28]:
#keyword arguments & required/position arguments used together

def test(name,current_city,city,age):
  print("my name is",name,"and my age is",age,"and basically from ",city,"but i live in",current_city)

test("ram","delhi",age=25,city="chennai")
#test("ram",age= 25,"delhi") #gives error - positional argument should be given first

#positional arguments-----> keyword arguments
#keyword args sghould follow position args

my name is ram and my age is 25 and basically from  chennai but i live in delhi

In [31]:
#default arguments

def student(name,age,m1,m2,m3,college="UVCE"):
  print(name,age,m1,m2,m3,college)

student("john",25,90,80,70)
student("Rose",21,91,86,75)
student("suly",22,97,86,77,"ssce") # "ssce" overrided the value uvce that was default

john 25 90 80 70 UVCE
Rose 21 91 86 75 UVCE
suly 22 97 86 77 ssce

In [32]:
#position args------> keyword args--------> default args
#default arguments

def student(name,age,m1,m2,m3,college="UVCE"):
  print(name,age,m1,m2,m3,college)

student("john",age=25,m1=90,m2=80,m3=70)
student("Rose",21,91,86,75)
student("suly",22,97,86,77,"ssce")

john 25 90 80 70 UVCE
Rose 21 91 86 75 UVCE
suly 22 97 86 77 ssce

In [35]:
#variable length args

def fun(*a):
  print(a)
  print(type(a))

fun(1,2)
fun(1,2,3,4)
fun(1,2,3)

(1, 2)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>

In [42]:
#sum using variable length args
#variable length positional args

def sum(*a):
  s=0
  for i in a:
    s=s+i
  print(s)
  print(type(a))

sum(1,2)
sum(1,2,3,4)
sum(1,2,3)

3
<class 'tuple'>
10
<class 'tuple'>
6
<class 'tuple'>

In [43]:
#sum using variable length args
#variable length keyword args

def sum(**a):
  s=0
  for i in a.values():
    s=s+i
  print(s)
  print(type(a))


sum(a=10,b=20) #values are packed as dictionary
sum(a=1,b=2,c=3,d=4)
sum(a=1,b=2,c=3)

30
<class 'dict'>
10
<class 'dict'>
6
<class 'dict'>