In [ ]:
print("Hello World")

Hello World

In [3]:
#simple function
def fun():
  print("hello world")
  print("welcome")

print("before function call")
fun()
print("after function call")
print(fun()) #first fun() will get called,but print will return None as fun() is not returning anything
c=fun()
print(c)

before function call
hello world
welcome
after function call
hello world
welcome
None
hello world
welcome
None

In [7]:
#program to print the square of a no
#without argument,without return value

def square():
  x=int(input("enter a no"))
  y=x**2
  print("square of",x,"is",y)

square()

enter a no8
square of 8 is 64

In [8]:
#with argument,with return value
def square(x):

  #y=x**2

  return x**2

x=int(input("enter a no"))
res=square(x)
print(res)

enter a no5
25

In [9]:
#with argument,without return value
def square(x):

  y=x**2
  print("square of",x,"is",y)

x=int(input("enter a no"))
square(x)

enter a no7
square of 7 is 49

In [14]:
#without argument,with return value
def square():
  x=int(input("enter a no"))
  y=x**2
  return y

res=square()
print(res)

enter a no78
6084

In [16]:
#return statement
def test(a,b,c,d):
  return(a,b,c,d)

x,y,z,w=test(10,20,30,40)
print(x,y,z,w)

10 20 30 40

In [19]:
def test1():
  l1=[10,20,30,40]
  t1=(60,70,80)
  return l1,t1

x,y=test1()
print(x,y)
print(type(x))

[10, 20, 30, 40] (60, 70, 80)
<class 'list'>